
@{
    ViewBag.Title = "AddSimMobileIssuance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Mobile Number Issuance Form</h3>
                <div class="card-tools">
                </div>
            </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mobile No. &nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <select id="MobileNumber" name="MobileNumber" class="form-control select2" style="width: 100%;">
                                    @if (ViewBag.MobileNumber != null)
                                    {
                                        <option value="">Select Mobile No.</option>
                                        foreach (var item in ViewBag.MobileNumber)
                                        {
                                            if (item.Text != null)
                                            {
                                                <option value="@item.Value">
                                                    @item.Text
                                                </option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>BType &nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <select id="BtypeID" name="BtypeID" class="form-control select2" style="width: 100%;">
                                    @if (ViewBag.BType != null)
                                    {
                                        <option value="">Select BType</option>
                                        foreach (var item in ViewBag.BType)
                                        {
                                            if (item.Text != null)
                                            {
                                                <option value="@item.Value">
                                                    @item.Text
                                                </option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Department &nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <select id="DepartmentID" name="DepartmentID" class="form-control select2" style="width: 100%;">
                                    @if (ViewBag.Department != null)
                                    {
                                        <option value="">Select Department</option>
                                        foreach (var item in ViewBag.Department)
                                        {
                                            if (item.Text != null)
                                            {
                                                <option value="@item.Value">
                                                    @item.Text
                                                </option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Campus &nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <select id="CampusID" name="CampusID" class="form-control select2" style="width: 100%;">
                                    @if (ViewBag.Campus != null)
                                    {
                                        <option value="">Select Campus</option>
                                        foreach (var item in ViewBag.Campus)
                                        {
                                            if (item.Text != null)
                                            {
                                                <option value="@item.Value">
                                                    @item.Text
                                                </option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Employee &nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <select id="EmployeeName" name="EmployeeName" class="form-control select2" style="width: 100%;" onchange="getcnic();">
                                    @if (ViewBag.EmployeeInfo != null)
                                    {
                                        <option value="">Select Employee</option>
                                        foreach (var item in ViewBag.EmployeeInfo)
                                        {
                                            if (item.Text != null)
                                            {
                                                <option value="@item.Value">
                                                    @item.Text
                                                </option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Designation &nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <input type="text" class="form-control" id="EmployeeDesiginationID" name="EmployeeDesiginationID" />
                            </div>
                            <div class="form-group">
                                <label>Voice Package Name &nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <select id="VoicePackage" name="VoicePackage" class="form-control select2" style="width: 100%;">
                                    @if (ViewBag.VoicePackageName != null)
                                    {
                                        <option value="">Select Voice Package.</option>
                                        foreach (var item in ViewBag.VoicePackageName)
                                        {
                                            if (item.Text != null)
                                            {
                                                <option value="@item.Value">
                                                    @item.Text
                                                </option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Employee Shift &nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <select id="EmployeeShift" name="EmployeeShift" class="form-control select2" style="width: 100%;" onchange="ChangeCreditLimit();">
                                    <option value="">Select Employee Shift</option>
                                    <option value="Morning">Morning</option>
                                    <option value="Night">Night</option>
                                    <option value="Both">Both</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Employee CNIC &nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <input type="text" class="form-control" id="EmployeeCNIC" name="EmployeeCNIC" />
                            </div>
                            <div class="form-group">
                                <label>CreditLimit &nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <input type="text" class="form-control" id="CreditLimit" name="CreditLimit" />
                            </div>
                            <div class="form-group">
                                <label>Data Package &nbsp;<span style="color:red!important"><b>*</b></span></label>
                                <select id="DataPackage" name="DataPackage" class="form-control select2" style="width: 100%;">
                                    @if (ViewBag.DataPackageName != null)
                                    {
                                        <option value="">Select Data Package.</option>
                                        foreach (var item in ViewBag.DataPackageName)
                                        {
                                            if (item.Text != null)
                                            {
                                                <option value="@item.Value">
                                                    @item.Text
                                                </option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group right" style="padding-top: 22px;">
                                <label></label>
                                <button id="addupbtn" class="btn btn-success mt-2" onclick="CheckValidation()">Issuance Mobile Number</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Number List</h3>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Department</th>
                                    <th>Number</th>
                                    <th>Employee Name</th>
                                    <th>BType</th>
                                    <th>Designation</th>
                                    <th>Campus</th>
                                    <th>CNIC</th>
                                    <th>Credit Limit</th>
                                    <th>Voice Package</th>
                                    <th>Data Package</th>
                                    <th>Employee Shift</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="stutbl"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script>
    function getcnic() {
        var value = $('select#EmployeeName option:selected').val();
        $.ajax({
            type: "GET",
            url: "/SimMobileIssuance/getEmployeeCNIC",
            data: { "value": value },
            success: function (data) {
                $("#EmployeeCNIC").val('');
                $("#EmployeeCNIC").val(data[0].CNIC);
                $("#EmployeeDesiginationID").val('');
                $("#EmployeeDesiginationID").val(data[0].Designation); 
            }
        });
    }
    function CheckValidation() {
        
        if ($('#EmployeeShift :selected').val() == "" || $('#MobileNumber :selected').val() == "" || $('#DepartmentID :selected').val() == "" || $('#CampusID :selected').val() == "" || $('#EmployeeCNIC :selected').val() == "" || $('#EmployeeName :selected').val() == "" || $('#EmployeeDesiginationID').val() == "" || $('#BtypeID :selected').val() == "" || $('#VoicePackage:selected').val() == "" ||  $('#DataPackage:selected').val() == "" || $('#CreditLimit').val() == "")
        {
            toastr.error('Required Fields are Mandatory...!')
        }
        else {
            AssignMSISD();
        }
    }
    function ChangeCreditLimit()
    {

    }
</script>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(function () {
        GetMSISDList();
        window.alert = function () { }
        $('.select2').select2();
    });
    function GetMSISDList() {
        $.ajax({
            type: 'GET',
            url: '/SimMobileIssuance/GetData',
            success: function (response) {
                debugger
                var op = '';
                $.each(response, function (key, item) {
                    op += '<tr><td>' + item.Description + '</td><td>' + item.MobileNumber + '</td><td>' + item.EmployeeName + '</td><td>' + item.Btype_Name + '</td><td>' + item.EmployeeDesiginationID + '</td><td>' + item.campusname + '</td><td>' + item.EmployeeCNIC + '</td><td>' + item.CreditLimit + '</td><td>' + item.VoicePackageName + '</td><td>' + item.DataPackage + '</td><td>' + item.EmployeeShift + '</td>';
                    op += '<td><a href="javascript:;"  class="btn btn-info mt-2" onclick="Data(\'' + item.ID + '\',\'' + item.Btypeid + '\',\'' + item.MobileNumber + '\',\'' + item.EmployeeName + '\',\'' + item.EmployeeDesiginationID + '\',\'' + item.DepttID + '\',\'' + item.Campusid + '\',\'' + item.Designationid + '\',\'' + item.EmployeeCNIC + '\',\'' + item.EmployeeID + '\',\'' + item.CreditLimit + '\',\'' + item.VoicePackageName + '\',\'' + item.DataPackage + '\',\'' + item.EmployeeShift + '\',\'' + item.EmployeeDesiginationID + '\',\'' + item.VoicePackageID + '\',\'' + item.DataPackageID + '\')">Edit</a><a href="javascript:;" onclick="delmsisd(\'' + item.ID + '\')" class="btn btn-danger mt-2">Delete</a></td></tr>';

                });
                $('#stutbl').empty().append(op);
                Datatables();
            },
            failure: function (response) {
                $('#result').html(response);
            }
        });
        var local;
    }

    function Data(ID, BType, MobileNumber, EmployeeName, EmployeeDesiginationID, DepartmentID, CampusID, DesignationID, EmployeeCNIC, EmployeeID, CreditLimit, VoicePackageName, DataPackage, EmployeeShift, EmployeeDesiginationID, VoicePackageID, DataPackageID)
    {
        debugger
        $('#BtypeID').val(BType).trigger('change');;
        $("#MobileNumber").val(MobileNumber).trigger('change');
        $("#DepartmentID").val(DepartmentID).trigger('change');
        $("#EmployeeName").val(EmployeeID).trigger('change');
        $("#EmployeeDesiginationID").val(EmployeeDesiginationID);
        local = ID;
        $('#CampusID').val(parseInt(CampusID)).trigger('change');
        $("#EmployeeCNIC").val(EmployeeCNIC);
        $("#CreditLimit").val(CreditLimit);
        $('#DataPackage').val(DataPackageID).trigger('change');
        $('#VoicePackage').val(VoicePackageID).trigger('change');
        $("#EmployeeShift").val(EmployeeShift).trigger('change');
        $('#addupbtn').empty().text('Update');
    }
    function EditMSISD() {
        var Msisdno = {};
        Msisdno.BtypeID = $('#BtypeID').val();
        Msisdno.EmployeeDesiginationID = $('#EmployeeDesiginationID').val(); 
        Msisdno.MobileNumber = $("#MobileNumber").val();
        Msisdno.DepttID = $("#DepartmentID").val();
        Msisdno.EmployeeID = $("#EmployeeName").val();
        Msisdno.ID = local;
        Msisdno.CampusID = $('#CampusID').val();
        Msisdno.EmployeeCNIC = $("#EmployeeCNIC").val()
        Msisdno.EmployeeName = $("#EmployeeName option:selected").val()
        Msisdno.CreditLimit = $("#CreditLimit").val();
        Msisdno.DataPackage = $('#DataPackage option:selected').val();
        Msisdno.VoicePackageName = $('#VoicePackage option:selected').val();
        Msisdno.EmployeeShift = $("#EmployeeShift").val();

        var data1 = JSON.stringify(Msisdno);
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '/SimMobileIssuance/EditData',
            data: data1,
            success: function (response)
            {
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    progressBar: true,
                    timer: 3000
                });
                Toast.fire({
                    icon: 'success',
                    title: 'Number issuence Update Successfully..!'
                })
                RefreshPage();
            },
            failure: function (response) {
                $('#result').html(response);
            }
        });


    }
    function AssignMSISD()
    {
        var btn_name = $('#addupbtn').text();
        if (btn_name == "Update") {
            EditMSISD();
        }
        else {
            var Msisdno = {};
            Msisdno.BtypeID = $('#BtypeID option:selected').val();
            Msisdno.EmployeeDesiginationID = $('#EmployeeDesiginationID').val();
            Msisdno.MobileNumber = $("#MobileNumber").val();
            Msisdno.DepartmentID = $("#DepartmentID").val();
            Msisdno.EmployeeID = $("#EmployeeName").val();
            Msisdno.CampusID = $('#CampusID').val();
            Msisdno.EmployeeCNIC = $("#EmployeeCNIC").val();
            Msisdno.EmployeeName = $("#EmployeeName option:selected").text();
            Msisdno.CreditLimit = $("#CreditLimit").val();
            Msisdno.DataPackage = $('#DataPackage option:selected').val();
            Msisdno.VoicePackageName = $('#VoicePackage option:selected').val();
            Msisdno.EmployeeShift = $("#EmployeeShift").val();
            Msisdno.ID = 0;
            var data1 = JSON.stringify(Msisdno);
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '/SimMobileIssuance/SaveData',
                data: data1,
                success: function (response) {
                    var Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        progressBar: true,
                        timer: 3000
                    });
                    Toast.fire({
                        icon: 'success',
                        title: 'Number Save Successfully..!'
                    })
                    RefreshPage();
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        }
    }
    function delmsisd(Id) {
        debugger
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                var Msisdno = {};
                Msisdno.ID = Id;
                var data1 = JSON.stringify(Msisdno);
                debugger
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: '/SimMobileIssuance/Delete',
                    data: '{mSISDViewModel: ' + JSON.stringify(Msisdno) + '}',
                    success: function (response) {

                        Swal.fire('Deleted!', 'Your file has been deleted.', 'success')
                        RefreshPage();
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
            }
        })
    }
</script>

















