<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item "></li>
        <li class="nav-item "><p><h5>Data Entery Foams</h5></p></li>
        <li class="nav-item ">
            <a href="@Url.Action("Index", "AssignMSISD")" class="nav-link active">
                <i class="nav-icon fa fa-id-card"></i>
                <p>
                    Assign MSISD Number
                </p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("GetSim","MobileNumberSeries")" class="nav-link active">
                <i class="nav-icon fa fa-mobile"></i>
                <p>
                    Sim Card Series
                </p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("AddSimMobileIssuance","SimMobileIssuance")" class="nav-link active">
                <i class="nav-icon fa fa-id-card"></i>
                <p>
                    Sim Issuance
                </p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-people-arrows"></i>
                <p>
                    Assign Sim to Business Partner 
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Index","SimNewPartner")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Partner Campus Sim List</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("SimAssignPartnerCampus","SimNewPartner")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Approve Partner Campus Sim</p>
                            </a>
                        </li>
            </ul>
        </li>
        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-sim-card"></i>
                <p>
                    Return Sim
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("ReturnSim","SimMobileIssuance")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Retrun Sim List</p>
                            </a>
                        </li>
                <li class="nav-item">
                    <a href="@Url.Action("ReturnSimHistory","SimMobileIssuance")" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Retrun Sim History</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item "></li>
        <li class="nav-item "><p><h5>Assign Menu</h5></p></li>
        <li class="nav-item ">
            <a href="@Url.Action("AssignMenu","Menus")" class="nav-link active">
                <i class="nav-icon fa fa-bars"></i>
                <p>
                    Menus
                </p>
            </a>
        </li>
        <li class="nav-item "></li>
        <li class="nav-item "><p><h5>Billing</h5></p></li>
        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-money-bill"></i>
                <p>
                   Manage Billing
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("Index","Billing")" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Import Billing</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Addmanualbilling","Billing")" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Add Manual Billing</p>
                    </a> 
                </li>
            </ul>
        </li>
        <li class="nav-item "></li>
        <li class="nav-item "><p><h5>Logging</h5></p></li>
        <li class="nav-item ">
            <a href="@Url.Action("AddMSISDNoHistory","History")" class="nav-link active">
                <i class="nav-icon fa fa-history"></i>
                <p>
                    Logging History
                </p>
            </a>
        </li>
        <li class="nav-item "></li>
        <li class="nav-item "><p><h5>Setting</h5></p></li>
        <li class="nav-item ">
            <a href="@Url.Action("Index","VoicePackageName")" class="nav-link active">
                <i class="nav-icon fa fa-phone-volume"></i>
                <p>
                    Manage Voice Package
                </p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("Index","DataPackageName")" class="nav-link active">
                <i class="nav-icon fa fa-database"></i>
                <p>
                    Manage Data Package
                </p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("Index", "MSISD")" class="nav-link active">
                <i class="nav-icon fa fa-sim-card"></i>
                <p>
                    Manage MSISD Number
                </p>
            </a>
        </li>
    </ul>
</nav>

