@using SimManagementSystem.CommonUtility
@{
    var Menulist = new WebHelper().GetUserIdentityFromSession().Check;
    bool isadmin = new WebHelper().GetUserIdentityFromSession().isAdmin;
    var list = Menulist.Select(x => x.MenuId).ToList();
}
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item "></li>
        <li class="nav-item "><p><h5>Data Entery Foams</h5></p></li>
        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-sim-card"></i>
                <p>
                    Add MSISD Number
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">

                @if (Menulist != null)
                {

                    if (list.Contains(1))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "MSISD")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add MSISD No </p>
                            </a>
                        </li>
                    }

                }
            </ul>
        </li>
        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-id-card"></i>
                <p>
                    Assign MSISD Number
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                @if (Menulist != null)
                {
                    if (list.Contains(2))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "AssignMSISD")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Assign MSISD No </p>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-mobile"></i>
                <p>
                    Mobile No. Series
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                @if (Menulist != null)
                {
                    if (list.Contains(5))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("GetSim","MobileNumberSeries")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Mobile No. Series</p>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-id-card"></i>
                <p>
                    Sim & Mobile Issuance
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                @if (Menulist != null)
                {
                    if (list.Contains(6))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("AddSimMobileIssuance","SimMobileIssuance")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Sim & Mobile Issuance</p>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-people-arrows"></i>
                <p>
                    Assign Sim To Campus
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                @if (Menulist != null)
                {
                    if (list.Contains(6))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Index","SimNewPartner")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Partner Campus Sim List</p>
                            </a>
                        </li>
                    }
                    if (list.Contains(9))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("SimAssignPartnerCampus","SimNewPartner")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Approve Partner Campus Sim</p>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-sim-card"></i>
                <p>
                    Return Sim
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                @if (Menulist != null)
                {
                    if (list.Contains(10))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("ReturnSim","SimMobileIssuance")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Retrun Sim List</p>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>


        <li class="nav-item "></li>
        <li class="nav-item "><p><h5>Assign Menu</h5></p></li>
        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-bars"></i>
                <p>
                    Menus
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                @if (Menulist != null)
                {
                    if (list.Contains(4))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("AssignMenu","Menus")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Menu List</p>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
        <li class="nav-item "></li>
        <li class="nav-item "><p><h5>Billing</h5></p></li>
        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-money-bill"></i>
                <p>
                    Billing Amount
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                @if (Menulist != null)
                {
                    if (list.Contains(11)) 
                    { 
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Billing")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Billing Amount</p>
                            </a>
                        </li>
                    } 
                }
            </ul>
        </li>
        <li class="nav-item "></li>
        <li class="nav-item "><p><h5>Logging</h5></p></li>
        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-history"></i>
                <p>
                    Logging History
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                @if (Menulist != null)
                {
                    if (list.Contains(3))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("AddMSISDNoHistory","History")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Logging List</p>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
        <li class="nav-item "></li>
        <li class="nav-item "><p><h5>Setting</h5></p></li>
        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-phone-volume"></i>
                <p>
                    Manage Voice Package
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                @if (Menulist != null)
                {
                    if (list.Contains(7))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Index","VoicePackageName")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Voice Package List</p>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>

        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-database"></i>
                <p>
                    Manage Data Package
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                @if (Menulist != null)
                {
                    if (list.Contains(8))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Index","DataPackageName")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Package List</p>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
    </ul>
</nav>